{
  "trailingComma": "es5",
  "printWidth": 95,
  "singleQuote": true,
  "tabWidth": 2,
  "importOrder": [
    "^react(.*)",
    "<THIRD_PARTY_MODULES>",
    "^regex",
    "^constants",
    "^constants/(.*)$",
    "^types",
    "^types/(.*)$",
    "^lib",
    "^lib/(.*)$",
    "^redux/(.*)$",
    "^services",
    "^services/(.*)$",
    "^contexts",
    "^contexts/(.*)$",
    "^hooks",
    "^hooks/(.*)$",
    "^themes",
    "^themes/(.*)$",
    "^helpers",
    "^helpers/(.*)$",
    "^data",
    "^data/(.*)$",
    "^assets",
    "^assets/(.*)$",
    "^layouts",
    "^layouts/(.*)$",
    "^pages",
    "^pages/(.*)$",
    "^sections",
    "^sections/(.*)$",
    "^components",
    "^components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
